:root {
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
  font-family: 'Manrope';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--DarkBlue);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 540px;
  height: fit-content;
  margin-bottom: 32px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  border-radius: 20px;
  background-color: var(--DarkGrayishBlue);
  color: var(--LightCyan);
  position: relative;
  box-shadow: 0 1rem 4.5rem -0.5rem rgba(0, 0, 0, 0.17);
}

h1.card__h1 {
  color: var(--NeonGreen);
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
}

.card__advice {
  font-weight: 800;
  font-size: 28px;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card__dice {
  background-color: var(--NeonGreen);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: absolute;
  right: 235px;
  bottom: -32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.card__dice:hover {
  box-shadow: 0 1px 8px 5px rgb(63, 186, 124);
  color: rgba(255, 255, 255, 1);
  transition: all ease-in-out 0.4s;
  transition-duration: 300ms;
}

.card__img__dice {
  width: 24px;
  height: 24px;
  position: relative;
}

@media screen and (max-width: 520px) {
  .container {
    padding: 50px 20px 65px 20px;
  }

  .card__blockquote {
    font-size: 24px;
  }
}
